#Page {
		text-align: center;
}	

#nav {
	text-align: center;
}

#NavS {
	position: absolut;
	left: 0;
	top: 30%;
	
}

#contentS {
		width: 300px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 18px;
	border-style: solid;
	border-width: 1px;
}